@import "../../../styles/style.scss";

:host {
    display: flex;
    margin-top: 10dvh;
}

.task-section {
    padding: 1em;
    background-color: $bg-color2;
    margin: 1em;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: initial;
    overflow: auto;

    button {
        background-color: $primary-color;
        color: white;
        border-radius: 10px;
        padding: 0.5em;
        border: 2px solid transparent;
    }

    button:hover {
        cursor: pointer;
        background-color: transparent;
        color: $primary-color;
        border: 2px solid $primary-color;
    }
}

.task-section::-webkit-scrollbar {
    width: 0px;
}

.task {

    margin: 0.5em 1em;
    background-color: rgba(245, 245, 245, 0.192);
    padding: 0.5em;
    border-radius: 10px;
}