@import "../../../styles/style.scss";

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10dvh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 0 2rem;
    background-color: $secondary-color;

    button {
        background-color: $primary-color;
        border-radius: 0.5em;
        color: white;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }
}